<template>
    <div>


        <div class="card" >
            <div class="card-header">
                <h1>Keywords</h1> 
                <b-btn class="btn btn-info pull-xs-right" style="float:right;" v-b-modal.keywordsModal>Create</b-btn>
            </div>
            <div class="card-body" style="max-height:400px;overflow-y: scroll; ">
                <b-table striped hover :items="keywords" :fields="fields" @row-clicked="myRowClickHandler">

                         <template slot="channel" slot-scope="data">

                        <span v-if="data.value==1">Washington</span>
                        <span v-else>Croatia</span>
                    </template>

                    <template slot="favorite" slot-scope="data">

                        <input type="checkbox" v-model="data.value" @change.stop="makeFavorite(data, $event)">
                    </template>
                    <template slot="id" slot-scope="data">

                        <button class="btn btn-danger btn-xs" @click.stop="deleteKeyword(data)">#{{data.value}} Delete</button>
                    </template>


                </b-table>
            </div>
        </div>

        <div class="card">
            <div class="card-header"><h1>Variants</h1></div>
            <div class="card-body">

                <div v-for="keyword in variants" v-if="visibleKeywords[keyword.keywordId]">
                    <h6><b-btn class="btn btn-info" @click="form.keyword_id=keyword.keywordId, addingVariants=keyword.variants, showAddVariants()" 
                               style="line-height: 11px;padding: 2px;font-size: 25px;" v-b-modal.variantsModal>+</b-btn> Keyword: <b>{{keyword.keyword}}</b> </h6>
                    <table v-if="keyword.variants.length" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: center;"><span>ID</span> </th>
                                <th style="text-align: left;"><span>Variant</span> </th>
                                <th style="text-align: left;"><span>Delete</span> </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(variant, index) in keyword.variants">
                                <td style="text-align: center;"><span>{{variant.id}}</span></td>
                                <td style="text-align: left;"><span>{{variant.name}}</span></td>
                                <td style="text-align: left;"><span><button class="btn btn-danger btn-xs" @click="deleteVariant(variant.id, index, keyword.variants)">Delete</button></span></td>

                            </tr>

                            <!---->
                        </tbody>
                        <!---->
                    </table>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h1>Forbidden Keywords</h1> 
                <b-btn class="btn btn-info pull-xs-right" 
                       @click="formForbidden.word=''" 
                       style="float:right;" v-b-modal.ForbiddenKeywords>Create</b-btn></div>
            <div class="card-body" style="max-height:400px;overflow-y: scroll; ">
                <b-table striped hover :items="forbiddenKeywords" :fields="forbiddenKeywordfields">

                         <template slot="id" slot-scope="data">
                        <button class="btn btn-danger btn-xs" @click="deleteForbidden(data)">Delete</button>

                    </template>


                </b-table>
            </div>
        </div>

















        <b-modal id="variantsModal" title="Create Variant" ref="myModalRef">
            <div v-if="variantSuccess" class="alert alert-success" role="alert">Success</div>
            <div v-if="variantError" class="alert alert-danger" role="alert">Error</div>

            <b-form >
                <b-form-group id="variant"
                              label="Variant name:"
                              label-for="variantInput"
                              description="Add Variant name.">
                    <b-form-input id="variantInput"
                                  type="text"
                                  v-model="form.name"
                                  required
                                  placeholder="Variant">
                    </b-form-input>
                </b-form-group>



                <b-button type="button" variant="primary" @click="addVariant" v-if="!submittingVariant">Submit</b-button>
                <p class="processing" v-else>Please wait, this is processing...</p>

            </b-form>

        </b-modal>
        <b-modal id="keywordsModal" title="Create Keyword" ref="myModalRefKeyword">
            <b-form >
                <b-form-group id="keyword"
                              label="Keyword name:"
                              label-for="keywordInput"
                              description="Add Keyword name.">
                    <b-form-input id="keywordInput"
                                  type="text"
                                  v-model="formKeyword.word"
                                  required
                                  placeholder="Keyword">
                    </b-form-input>
                </b-form-group>

                <b-form-group 
                    label="Channel:"
                    label-for="channel"
                    description="Add Keyword Channel:">
                    <b-form-select v-model="formKeyword.channel" :options="channelOptions" class="mb-3" />
                </b-form-group>

                <b-form-group 
                    label="Keyword category:"
                    label-for="keywordCat"
                    description="Add Keyword category:">
                    <b-form-select v-model="formKeyword.category_id" :options="keywordCategories" @change="checkSelectViews($event)" class="mb-3" />
                </b-form-group>
                <b-form-group v-if="catPersons" 
                              label="Keyword party:"
                              label-for="keywordPart"
                              description="Add Keyword party:">
                    <b-form-select v-model="formKeyword.party_id" :options="keywordParties" class="mb-3" />
                </b-form-group>
                <b-form-group v-if="catPersons" 
                              label="Keyword province:"
                              label-for="keywordProv"
                              description="Add Keyword Province:">
                    <b-form-select v-model="formKeyword.province_id" :options="keywordProv" class="mb-3" />
                </b-form-group>
                <b-button type="button" variant="primary" @click="addKeyword">Submit</b-button>
            </b-form>
        </b-modal>
        <b-modal id="ForbiddenKeywords" title="Add Forbidden Keyword" ref="myModalRefForbiddenKeywords">
            <b-form >
                <b-form-group 
                    label="Word:"
                    label-for="forbidden"
                    description="Keyword will be forbidden for user to add.">
                    <b-form-input id="forbidden"
                                  type="text"
                                  v-model="formForbidden.word"
                                  required
                                  placeholder="Forbidden">
                    </b-form-input>
                </b-form-group>



                <b-button type="button" variant="primary" @click="addForbiddenWord">Submit</b-button>

            </b-form>

        </b-modal>
    </div>


</template>
<style>
    .card{
        margin-bottom: 25px;
    }
    .card-body table tr{cursor: pointer;}
    .processing{margin-left: 10px; font-weight: bolder;}

</style>

<script>

    import Vue from 'vue';
    import BootstrapVue from 'bootstrap-vue';

    Vue.use(BootstrapVue);
    var eventBus = new Vue();





    export default {
        data() {
            return{
                keywords: [],
                variants: [],
                fields: [
                    {label: 'ID', key: 'id', sortable: true},
                    {label: 'Keyword', key: 'word', sortable: true},
                    {label: 'Number of users how selected it', key: 'user_count', sortable: true},
                    {label: 'Channel', key: 'channel', sortable: true},
                    {label: 'category', key: 'category', sortable: true},
                    {label: 'Favorite', key: 'favorite', formatter: 'checkbox', sortable: false},
                ],
                forbiddenKeywords: [],
                forbiddenKeywordfields: [
                    {label: 'Word', key: 'word', sortable: true},
                    {label: 'Action', key: 'id', sortable: false},
                ],
                form: {
                    name: '',
                    keyword_id: 0
                },
                formKeyword: {
                    word: '',
                    category_id: 1,
                    party_id: 1,
                    province_id: 1,
                    channel: 1
                },
                formForbidden: {word: ''},
                keywordCategories: [],
                keywordParties: [],
                keywordProv: [],
                channelOptions: [{text: "Croatia", value: 2}, {text: "Washington State", value: 1}],

                addingVariants: [],
                visibleKeywords: {},
                catPersons: false,
                submittingVariant: false,
                variantSuccess: false,
                variantError: false

            }
        },
        created() {
            this.getKeywords();
            this.getVariants();
            this.getCategories();
            this.getParties();
            this.getProvinces();
            this.getForbiddenWords();
        },
        methods: {
            checkSelectViews(e) {
                console.log(e);
                console.log('category');
                this.catPersons = (e == 2);

            },
            getForbiddenWords() {
                axios.get('forbidden-keywords').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        this.forbiddenKeywords = response.data.data;
                    }
                })
            },
            addForbiddenWord(variant) {
                axios.post('forbidden-keywords', this.formForbidden).then(response => {
                    if (response.data.status == 200 && response.data.data != null)
                        this.forbiddenKeywords.push({"id": response.data.data.id, "word": this.formForbidden.word});
                    this.$refs.myModalRefForbiddenKeywords.hide()
                })
            },
            deleteForbidden(data) {
                if (confirm('Delete keyword?'))
                    axios.delete(`forbidden-keywords/${data.value}`).then(response => {
                        if (response.data.status == 200)
                            this.forbiddenKeywords.splice(data.index, 1);
                    })

            },
            deleteKeyword(data) {
                if (confirm('Delete keyword?'))
                    axios.delete(`keywords/${data.value}`).then(response => {
                        if (response.data.status == 200) {
                            this.getKeywords();
                            this.getVariants();
                        }

                    })

            },
            myRowClickHandler(record, index, event) {
                // 'record' will be the row data from items
                // `index` will be the visible row number (available in the v-model 'shownItems')
                console.log(event.target);
                this.keywords.forEach((element, i) => {
                    this.visibleKeywords[element.id] = record.id == element.id;
                    if (record.id == element.id) {
                        this.keywords[i]['_rowVariant'] = 'success';
                    } else {
                        this.keywords[i]['_rowVariant'] = null;
                    }
                });
                let preKeywords = this.variants;
                this.variants = [];
                this.variants = preKeywords;





            },
            getKeywords() {
                axios.get('keywords').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((element) => {
                            this.visibleKeywords[element.id] = true;
                        });
                        this.keywords = response.data.data;
                    }
                })
            },
            getVariants() {
                axios.get('variants').then(response => {
                    this.variants = response.data.data;
                    console.log(this.variants);
                })
            },
            checkbox(value) {
                return value;
            },
            makeFavorite(data, e) {
                e.stopPropagation();
                let favorite = data.value ? 1 : 0;
                axios.put(`keywords/${data.item.id}?favorite=${favorite}`).then(response => {

                    //we need to change this
                    this.getKeywords();

                })
            },
            deleteVariant(id, index, variants) {
                if (confirm('Delete Variant?'))
                    axios.delete(`variants/${id}`).then(response => {
                        if (response.data.status == 200)
                            variants.splice(index, 1);
                    })
            },
            addVariant(variant) {

                this.form.name = this.form.name.trim();
                if (this.form.name == '')
                    return false;

                this.submittingVariant = true;
                this.variantSuccess = false;
                this.variantError = false;

                axios.post('variants', this.form).then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        this.addingVariants.push({"id": response.data.data.id, "name": this.form.name});
                        this.variantSuccess = true;
                        this.form.name = '';
                    } else {
                        this.variantError = true;
                    }
                    this.submittingVariant = false;

                    //this.$refs.myModalRef.hide()
                })
            },
            showAddVariants() {
                this.form.name = '';
                this.submittingVariant = false;
                this.variantSuccess = false;
                this.variantError = false;

            },
            addKeyword() {
                axios.post('keywords', this.formKeyword).then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        console.log(this.keywordCategories);
                        console.log(this.formKeyword.category_id);
                        console.log(this.keywordCategories[this.formKeyword.category_id]);
                        this.keywords.push({"id": response.data.data.id, "word": this.formKeyword.word, "user_count": 0, "category": response.data.data.category, "channel": this.formKeyword.channel, "favorite": false});
                        this.variants.push({"keyword": this.formKeyword.word, "keywordId": response.data.data.id, "variants": []});
                        this.visibleKeywords[response.data.data.id] = true;
                    }

                    this.$refs.myModalRefKeyword.hide()

                })
            },
            getCategories() {
                axios.get('categories').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((e) => {
                            this.keywordCategories.push({value: e.id, text: e.name});
                        });
                    }
                })
            },
            getParties() {
                axios.get('parties').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((e) => {
                            this.keywordParties.push({value: e.id, text: e.name});
                        });
                    }
                })
            },
            getProvinces() {
                axios.get('provinces').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((e) => {
                            this.keywordProv.push({value: e.id, text: e.name});
                        });
                    }
                })
            }

        },

    }
</script>
