<template>
    <div>
















    </div>


</template>
<style>
    .card{
        margin-bottom: 25px;
    }
    .card-body table tr{cursor: pointer;}
    .processing{margin-left: 10px; font-weight: bolder;}

</style>

<script>

    import Vue from 'vue';
    import BootstrapVue from 'bootstrap-vue';

    Vue.use(BootstrapVue);
    var eventBus = new Vue();





    export default {
        data() {
            return{
            
            }
                
        },
        created() {
            console.log('popular')
        },
        methods: {
            checkSelectViews(e) {
                console.log(e);
                console.log('category');
                this.catPersons = (e == 2);

            },
            getForbiddenWords() {
                axios.get('forbidden-keywords').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        this.forbiddenKeywords = response.data.data;
                    }
                })
            },
            addForbiddenWord(variant) {
                axios.post('forbidden-keywords', this.formForbidden).then(response => {
                    if (response.data.status == 200 && response.data.data != null)
                        this.forbiddenKeywords.push({"id": response.data.data.id, "word": this.formForbidden.word});
                    this.$refs.myModalRefForbiddenKeywords.hide()
                })
            },
            deleteForbidden(data) {
                if (confirm('Delete keyword?'))
                    axios.delete(`forbidden-keywords/${data.value}`).then(response => {
                        if (response.data.status == 200)
                            this.forbiddenKeywords.splice(data.index, 1);
                    })

            },
            deleteKeyword(data) {
                if (confirm('Delete keyword?'))
                    axios.delete(`keywords/${data.value}`).then(response => {
                        if (response.data.status == 200) {
                            this.getKeywords();
                            this.getVariants();
                        }

                    })

            },
            myRowClickHandler(record, index, event) {
                // 'record' will be the row data from items
                // `index` will be the visible row number (available in the v-model 'shownItems')
                console.log(event.target);
                this.keywords.forEach((element, i) => {
                    this.visibleKeywords[element.id] = record.id == element.id;
                    if (record.id == element.id) {
                        this.keywords[i]['_rowVariant'] = 'success';
                    } else {
                        this.keywords[i]['_rowVariant'] = null;
                    }
                });
                let preKeywords = this.variants;
                this.variants = [];
                this.variants = preKeywords;





            },
            getKeywords() {
                axios.get('keywords').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((element) => {
                            this.visibleKeywords[element.id] = true;
                        });
                        this.keywords = response.data.data;
                    }
                })
            },
            getVariants() {
                axios.get('variants').then(response => {
                    this.variants = response.data.data;
                    console.log(this.variants);
                })
            },
            checkbox(value) {
                return value;
            },
            makeFavorite(data, e) {
                e.stopPropagation();
                let favorite = data.value ? 1 : 0;
                axios.put(`keywords/${data.item.id}?favorite=${favorite}`).then(response => {

                    //we need to change this
                    this.getKeywords();

                })
            },
            deleteVariant(id, index, variants) {
                if (confirm('Delete Variant?'))
                    axios.delete(`variants/${id}`).then(response => {
                        if (response.data.status == 200)
                            variants.splice(index, 1);
                    })
            },
            addVariant(variant) {

                this.form.name = this.form.name.trim();
                if (this.form.name == '')
                    return false;

                this.submittingVariant = true;
                this.variantSuccess = false;
                this.variantError = false;

                axios.post('variants', this.form).then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        this.addingVariants.push({"id": response.data.data.id, "name": this.form.name});
                        this.variantSuccess = true;
                        this.form.name = '';
                    } else {
                        this.variantError = true;
                    }
                    this.submittingVariant = false;

                    //this.$refs.myModalRef.hide()
                })
            },
            showAddVariants() {
                this.form.name = '';
                this.submittingVariant = false;
                this.variantSuccess = false;
                this.variantError = false;

            },
            addKeyword() {
                axios.post('keywords', this.formKeyword).then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        console.log(this.keywordCategories);
                        console.log(this.formKeyword.category_id);
                        console.log(this.keywordCategories[this.formKeyword.category_id]);
                        this.keywords.push({"id": response.data.data.id, "word": this.formKeyword.word, "user_count": 0, "category": response.data.data.category, "favorite": false});
                        this.variants.push({"keyword": this.formKeyword.word, "keywordId": response.data.data.id, "variants": []});
                        this.visibleKeywords[response.data.data.id] = true;
                    }

                    this.$refs.myModalRefKeyword.hide()

                })
            },
            getCategories() {
                axios.get('categories').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((e) => {
                            this.keywordCategories.push({value: e.id, text: e.name});
                        });
                    }
                })
            },
            getParties() {
                axios.get('parties').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((e) => {
                            this.keywordParties.push({value: e.id, text: e.name});
                        });
                    }
                })
            },
            getProvinces() {
                axios.get('provinces').then(response => {
                    if (response.data.status == 200 && response.data.data != null) {
                        response.data.data.forEach((e) => {
                            this.keywordProv.push({value: e.id, text: e.name});
                        });
                    }
                })
            }

        },

    }
</script>
