/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2018, 3:49:53 PM
    Author     : dev
*/

body{
    background: white;
}
footer{
    margin-top:20px;
}
footer h3{
    margin-bottom: 20px;
}
footer ul{
    width: fit-content;
    display: block;
    margin: 10px auto;
    list-style: none;
    padding: 0;
}
.footer-bottom{
    margin-top: 20px;
}
.kvorum-logo{
        width: 50%;
    max-width: 300px;

}
.page-more,.page-more-latest{
    margin: 10px;
}
.related-item{display:none;}
.page-title{
    margin-bottom: 20px;
    font-size: 32px;
    padding: 20px 0;
}
.related-context h4{
    line-height: 15px;
}
.related-context p.video-date{
    color: #a7a7a7;
    margin-bottom: 0;
}
.video-playing{
    
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}
.thumbnail-content{
    position: relative;
}



.ui-widget-header{
    background-color: white;
    border: none;
    border-bottom: 1px solid #dddddd
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background-color:#e5b956;
    border: 1px solid #020202;
}

#video,#videoNative{
    width: 100%;
}
.google-nav img,.store-nav img,.logo-nav img{width:100%;}


.video-row{width: 100%;}
.related-videos{width: 100%;height: 100%;

}
.related-videos div.related-item{border-bottom: solid thin #ccc; padding:10px;margin:3px;}
.video-thumb-content{text-align: center;}
.video-thumb{width: 100%;max-width: 120px;}
.related-item{cursor:pointer;}
.related-item:hover{background-color:#e8e8e8;}
.share-description{margin-top: 20px;margin-bottom: 20px;}
li.ui-state-active a h2.povezano{
    color:#454545;
}
#tabs ul{
    position:relative;
}
#tabs ul li.ui-state-active{
    z-index: 3;
}

.tab-link-2{
    margin-left: -3px !important;

}
.ui-tabs .ui-tabs-nav li{margin-right: 0;}
.video-row{margin-bottom: 20px;}
.ui-widget.ui-widget-content{border:none;}

.ui-tabs .ui-tabs-panel{
    padding:1em 0;
}
@media (min-width: 1000px){
    .tab-link-1{
    height: 58px;
}
    .related-context{
        padding-top: 2%;
    }
    .related-word{
        padding-top: 2%;
    }
}
@media (max-width: 690px){
    .logo-nav{width: 40%}
    .app-links{width:50%;}
}


@media (max-width: 576px){
    footer h3{
        font-size: 18px;
    }
    .ui-tabs{
        margin-right: -10px;
        margin-left: -10px;
    }

    .page-title{

        font-size: 20px;
    }
    .related-videos-row .video-thumb{height: 60px;max-width: 80px;}
    .col-sm-2 {
        width: 30%;
    }
    .col-sm-10 {
        width: 70%;
    }

    .related-videos{
        margin: 0;
    }
    .related-videos > div{
        border-right: none;
        border-left: none;
    }


    .related-videos-row{
        font-size: 80%;
    }
    .related-videos-row > div{
        padding: 0 5px;
    }
    .related-videos-row .related-word{padding-left: 8px;}
    h2.povezano{
        font-size: 20px;
        margin-bottom: 0;
    }
}

